/*全局设置*/

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

html,
body,
section {
	width: 100%;
	height: 100%;
}

body {
	background-color: #f2f2f2;
	color: black;
}


/*导航栏*/

.menu a {
	color: black;
}

.menu-container {
	width: 100%;
	margin: 0 auto;
	background: white;
}

.menu-mobile {
	display: none;
	padding: 20px;
}

.menu-mobile:after {
	content: "\f394";
	font-family: "Ionicons";
	font-size: 2.5rem;
	padding: 0;
	float: right;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-25%);
	-ms-transform: translateY(-25%);
	transform: translateY(-25%);
}

.menu-dropdown-icon:before {
	content: "\f489";
	font-family: "Ionicons";
	display: none;
	cursor: pointer;
	float: right;
	padding: 1.5em 2em;
	background: #fff;
	color: #333;
}

.menu>ul {
	margin: 0 auto;
	width: 100%;
	list-style: none;
	padding: 0;
	position: relative;
	/* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
	box-sizing: border-box;
}

.menu>ul:before,
.menu>ul:after {
	content: "";
	display: table;
}

.menu>ul:after {
	clear: both;
}

.menu>ul>li {
	float: left;
	background: white;
	padding: 0;
	margin: 0;
}

.menu>ul>li a {
	text-decoration: none;
	padding: 1.5em 2.5em;
	display: block;
	color: black;
}

.menu>ul>li a:hover {
	color: orangered;
}

.menu>ul>li>ul {
	display: none;
	width: 100%;
	background: #f0f0f0;
	padding: 20px;
	position: absolute;
	z-index: 99;
	left: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}

.menu>ul>li>ul:before,
.menu>ul>li>ul:after {
	content: "";
	display: table;
}

.menu>ul>li>ul:after {
	clear: both;
}

.menu>ul>li>ul>li {
	margin: 0;
	padding-bottom: 0;
	list-style: none;
	width: 25%;
	background: none;
	float: left;
}

.menu>ul>li>ul>li a {
	color: #777;
	padding: .2em 0;
	width: 95%;
	display: block;
	border-bottom: 1px solid #ccc;
}

.menu>ul>li>ul>li>ul {
	display: block;
	padding: 0;
	margin: 10px 0 0;
	list-style: none;
	box-sizing: border-box;
}

.menu>ul>li>ul>li>ul:before,
.menu>ul>li>ul>li>ul:after {
	content: "";
	display: table;
}

.menu>ul>li>ul>li>ul:after {
	clear: both;
}

.menu>ul>li>ul>li {
	float: left;
	width: 100%;
	padding: 6px 0;
	margin: 0;
	font-size: 14px;
}

.menu>ul>li>ul>li a {
	border: 0;
}

.menu>ul>li>ul.normal-sub {
	width: 300px;
	left: auto;
	padding: 10px 28px;
	top: 64px;
}

.menu>ul>li>ul.normal-sub>li {
	width: 100%;
}

.menu>ul>li>ul.normal-sub>li a {
	border: 0;
	padding: 1em 0;
}


/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1180px) {
	.menu-container {
		width: 100%;
	}

	.menu-mobile {
		display: block;
	}

	.menu-dropdown-icon:before {
		display: block;
	}

	.menu>ul {
		display: none;
	}

	.menu>ul>li {
		width: 100%;
		float: none;
		display: block;
	}

	.menu>ul>li a {
		padding: 1.5em;
		width: 100%;
		display: block;
	}

	.menu>ul>li>ul {
		position: relative;
	}

	.menu>ul>li>ul.normal-sub {
		width: 100%;
	}

	.menu>ul>li>ul>li {
		float: none;
		width: 100%;
		margin-top: 25px;
	}

	.menu>ul>li>ul>li:first-child {
		margin: 0;
	}

	.menu>ul>li>ul>li>ul {
		position: relative;
	}

	.menu>ul>li>ul>li>ul>li {
		float: none;
	}

	.menu .show-on-mobile {
		display: block;
	}

	.category-filter-body {
		display: none;
	}

	.footer {
		display: none;
	}

	.nav_sli {
		width: 100%;
		height: auto;
	}

	.floor .box {
		width: 100%;
		height: auto;
	}

	.newbread-wrap {
		margin: 20px 45px;
		width: 350px;
	}

}


/*小导航*/

.newbread-wrap {
	margin: 20px 45px;
	width: 80%;
}

.nav_small {
	width: 100%;
	height: auto;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.nav_rowa {
	width: 80%;
	height: auto;
}

.newbread {
	font-size: 12px;
	line-height: 1.4;
	display: inline-block;
}

.newbread a {
	text-decoration: none;
}

.newbread .newbread-item .newbread-link {
	color: #72727b;
}

.newbread .newbread-item .newbread-separator {
	color: #72727b;
	padding: 0 3px;
	vertical-align: 1px;
}


/*类别框*/

.wrap ul li a {
	text-decoration: none;
	color: black;
}

.wrap {
	width: 100%;
	margin-bottom: 20px;
}

.container_a {
	/*margin: 40px 58px;*/
	width: 93%;
	height: auto;
}

.course-nav-row {
	padding: 10px 0 5px;
	position: relative;
	border-bottom: 0px solid #edf1f2;
}

.course-nav-row .hd {
	height: 30px;
	line-height: 30px;
}

.course-nav-row .hd {
	width: 102px;
	font-weight: 100;
	font-size: 14px;
	color: #07111b;
	text-align: center;
}

.fl {
	float: left;
}

.course-nav-row .bd {
	margin-left: 50px;
}

.course-nav-row .bd li {
	display: inline-block;
	margin: 0 4px;
	padding: 5px;
}

.wrap .course-top:last-child {
	border-bottom: 0px solid #edf1f2;
	clear: both;
}

.course-top-search .search-area {
	width: 100%;
	height: 36px;
	line-height: 36px;
	border-radius: 0px;
	border: 0;
	margin-top: 0px;
	margin-bottom: 2px;
}

.course-top-search .search-area .search-input {
	padding: 0px 16px;
	color: #1C1F21;
	height: 36px;
	line-height: 36px;
	background: #F3F5F6;
	font-size: 14px;
	border: 0;
	width: 100%;
	float: left;
}

.course-top-search {
	position: relative;
	float: right;
	width: 450px;
	margin: 0px 0;
}

.course-top a {
	text-decoration: none;
	color: black;
}

.course-nav-row .dropdowns .options .lioption .item-text {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	text-align: left;
	padding: 5px 10px 0 10px;
}

.category-filter-body {
	padding: 8px 10px;
	background-color: #fff;
}

.course-nav-row .soselect {
	text-align: left;
	position: relative;
	float: left;
	cursor: pointer;
}

.course-nav-row .soselect.active {}

.course-nav-row .soselect.active i {
	color: #fd4f00;
}

.course-nav-row .soselect .selectbox {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid #dce1e4;
	width: 100%;
	height: 100%;
	position: relative;
	padding-right: 25px;
}

.course-nav-row .soselect .selectbox i {
	position: absolute;
	right: 8px;
	top: 2px;
	font-size: 12px;
}

.course-nav-row .soselect.openDrop .iconfont,
.course-nav-row .soselect.openDrop .selectbox-text {
	color: #fd4f00
}

.course-nav-row .soselect .selectbox .selectbox-text {
	display: block;
	text-align: center;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.course-nav-row .soselect #txtMPkey {
	width: 100%;
	height: 100%;
	float: left;
	padding: 0px;
	margin: 0px;
	text-align: center;
	border: 0px solid #dce1e4;
}

.course-nav-row .dropdowns {
	position: absolute;
	top: 38px;
	width: 100%;
	height: 0;
	background-color: #fff;
	overflow: hidden;
	overflow-y: auto;
	z-index: 2;
}

.course-nav-row .dropdowns .options {
	margin: 0;
	width: 150px;
	height: 0;
	background-color: #fff;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0px solid #dce1e4;
	padding-bottom: 15px;
	overflow-y: auto;
	-webkit-box-shadow: 0 10px 20px rgba(153, 160, 169, .3);
	box-shadow: 0 10px 20px rgba(153, 160, 169, .3);
}

.course-nav-row .dropdowns .options .lioption {
	display: block;
	padding: 0px;
}

.course-nav-row .dropdowns .options .lioption .item-text {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	text-align: left;
	padding: 5px 10px 0 10px;
}

.course-nav-row .dropdowns .options .lioption .item-text:hover,
.course-nav-row .dropdowns .options .lioption.active .item-text {
	background-color: #f4f4f4
}

.course-nav-row .openDrop .dropdowns {
	height: auto;
	overflow: visible
}

.course-nav-row .openDrop .dropdowns .options {
	height: auto
}

.l {
	float: left;
}

.course-nav-row {
	position: relative;
	padding: 10px 0 5px;
	border-bottom: 0px solid #edf1f2
}

.course-nav-row .hd {
	width: 102px;
	height: 30px;
	line-height: 30px;
	font-weight: 100;
	font-size: 14px;
	color: #07111b;
	text-align: center;
}

.course-nav-row .bd {
	margin-left: 50px
}

.course-nav-row .bd li {
	display: inline-block;
	margin: 0 4px;
	padding: 4px 10px;
}

.course-nav-row .bd li a {
	display: block;
	line-height: 14px;
	font-size: 14px;
	padding: 5px 10px;
	border-radius: 2px;
}

.course-nav-row .bd li.on a {
	display: inline-block;
	white-space: nowrap;
	color: #fff;
	background: #fd4f00;
	cursor: pointer;
}

.course-nav-row .bd .byitems li.on a {
	padding-right: 20px;
	background: #fd4f00 url(/static/images/close2.gif) right 9px no-repeat;
}

.course-nav-row .bd .byitems li.on a:hover {
	background-position: right -15px
}

.course-nav-row .bd li.byfall a {
	padding-left: 0px;
}

.course-nav-row .bd ul.cata-row li:first-child a,
.course-nav-row .bd ul.tuijian li:first-child a {
	padding-left: 0px;
}

.course-nav-row .bd ul.cata-row li.on:first-child a,
.course-nav-row .bd ul.tuijian li.on:first-child a {
	padding: 5px 10px;
}






/*商品列表*/
/* .products_d{
	overflow: hidden;
} */
.row1{
	
	  margin-right: -15px;
	  margin-left: -15px;
	  min-width: 50%;
	  height: 1000px;
	
}
.product_one {
	width: 100%;
	/* height: 550px; */
	background-color: white;
	margin-top: 20px;
}

.product_one img {
	width: 100%;
	height: auto;
}

.title_p {
	text-align: center;
}

.title_s {
	background-color: orangered;
	color: white;
	font-size: 16px;
	padding: 2px 5px;
}

.details_p {
	width: 90%;
	height: auto;
	margin: 20px auto;
}
.product_one a{
	list-style: none;
	text-decoration: none;
	color: black;
}



/* .box-list {
	width: 100%;
	height: auto;
}

.c_3,
.box_ul,
.box_row {
	width: 100%;
	height: auto;
}

.floor .box {
	width: 33.333%;
	position: relative;
	display: block;
	float: left;
	vertical-align: top;
	margin-bottom: 5px;
	padding-bottom: 10px;
	text-align: center;
}

.floor .box img {
	position: relative;
	vertical-align: top;
	width: 70%;
}

.tdcatalist {
	padding-bottom: 100px;
	width: 100%;
}

.box .pro-cell-in {
	background: #fff;
	padding-top: 15px;
	cursor: pointer;
	margin: 0 7.5px;
	display: block;
}

.highlight {
	background-color: #fd4f00;
	color: #fff;
	font-weight: 400;
	line-height: 18px;
	height: 18px;
	padding: 0 7px 1px;
	display: inline-block;
	letter-spacing: .075em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
}

.floor .feature {
	line-height: 25px;
	height: 75px;
	font-size: 14px;
	font-weight: 400;
	color: #000;
	text-align: left;
	overflow: hidden;
	padding: 20px 50px;
}

.c_3 ul li a {
	text-decoration: none;
}

.pro-cell-in:hover {
	box-shadow: lightgrey 0px 0px 15px 2px;
	transition: 0.8s;
} */


/*底部*/

.footer {
	background: #000;
	border-top: 0px solid #fd4f00;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}

.ftLeftLinks {
	padding: 64px 0 42px;
}

.ftLeftLinks dl {
	float: left;
	width: 14%;
}

.ftLeftLinks dt {
	padding-bottom: 8px;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	color: #fff;
}

.footer a:link,
.footer a:visited {
	color: #999da0;
}

.ftLeftLinks dd a {
	display: block;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	font-size: 14px;
	text-decoration: none;
}

.ftLeftLinks .ftHotline {
	float: right;
	width: 15%;
}

.ftLeftLinks h4 {
	font-size: 20px;
	font-weight: 100;
	color: #fff;
	margin-bottom: 15px;
	text-align: center;
}

.ftLeftLinks h4 a {
	font-size: 20px;
	text-align: center;
	color: #fff;
	font-weight: 100;
	height: 35px;
	line-height: 35px;
	text-decoration: none;
}

.ftLeftLinks h4 a.ftbtnonline {
	display: block;
	font-weight: 300;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 0 1em;
	background-color: transparent;
	transition: .25s;
	line-height: 40px;
	height: 40px;
	font-size: 16px;
}

.ftLeftLinks p {
	font-size: 12px;
	color: #999da0;
	padding-top: 10px;
}

.footer-second {
	border-bottom: 1px solid #616466;
	padding-bottom: 40px;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.footer-n a img {
	float: left;
	width: 80px;
}

.footer-second ul.nav-right li a {
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	transition: all .3s ease;
	text-decoration: none;
}

.footer-second ul li {
	float: left;
	margin-left: 20px;
}

.footer .share>a:first-child {
	background: #3dbe5b;
}

.footer .share .wxWrap {
	position: relative;
}

.footer .share>a {
	width: 34px;
	height: 34px;
	margin: 10px auto 0;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	line-height: 34px;
	color: #fff !important;
}

.footer .share .wxWrap .qrcode {
	width: 128px;
	height: 153px;
	border: 1px solid #bcbcbc;
	color: gray;
	position: absolute;
	left: -50px;
	top: -160px;
	text-align: center;
	line-height: 1;
	background: #fff;
	border-radius: 3px;
	font-size: 12px;
}

.footer .share .wxWrap .qrcode #qrcodes {
	padding: 7px 5px;
	text-align: center;
}

.footer .share>a:nth-child(2) {
	background: #ff5757;
}

.footer .share>a:nth-child(3) {
	background: #3b5998;
}

.footer .share>a:nth-child(4) {
	background: #1da1f3;
}

.footer-legal .copyright {
	color: darkgray;
	float: left;
	font-size: 12px;
	margin-top: 20px;
}

.footer-legal ul li a {
	text-decoration: none;
}

.footer-legal ul li {
	float: left;
	margin-left: 20px;
}

.container a:hover {
	color: orangered;
}
